Port 4242
PermitRootLogin no
PermitEmptyPasswords no
AllowUsers jose
PasswordAuthentication yes
MaxSessions 10
ClientAliveInterval 300
ClientAliveCountMax 3
ChallengeResponseAuthentication yes
UsePAM yes
MaxAuthTries 4